
.DS_Store
.vs/.DS_Store
.vs/Weather/.DS_Store
.vs/Weather/config/applicationhost.config
.vs/Weather/FileContentIndex/b945130a-9251-4168-a0e1-dff8e030a0fb.vsidx
.vs/Weather/FileContentIndex/read.lock
.vs/Weather/v17/.suo
.vs/Weather/xs/project-cache/Weather-Debug.json
.vs/Weather/xs/UserPrefs.xml
